@model Pwneu.Smtp.Features.Auths.NotifyLogin.Model

<p>Full Name: @Model.FullName</p>
<p>Email: @Model.Email</p>
<p>IP Address: @Model.IpAddress</p>
<p>User Agent: @Model.UserAgent</p>
<p>Referer: @Model.Referer</p>